{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <p class="h2  text-center">Weekly Planning</p>
        <form method="post" action="/week/ingredients">
            {{ form.hidden_tag() }}

            <table class="table table-bordered table-striped">
                <thead>
                   <tr class="table-primary">
                       <th scope="col">Day</th>
                       <th scope="col">Planned Meal</th>
                   </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">{{ form.saturdaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.saturdaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.sundaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.sundaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.mondaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.mondaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.tuesdaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.tuesdaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.wednesdaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.wednesdaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.thursdaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.thursdaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.fridaySelect.label(class="form-control-label form-control-lg") }}</th>
                      <td>{{ form.fridaySelect(class="form-control form-control-lg") }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
{% endblock content %}